    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Amy Cards</h2>
                <p>In late 2015, Artur fell in love with the Tim Horton’s Hockey Card Collection. He would spend every dollar he owned in his quest to collect all the cards. This addiction created major tension in his relationship with his girlfriend, Amy.</p>
                <p>Amy Cards&#8482; was created by Artur to show Amy the importance and beauty behind hockey cards. These personalized, limited edition hockey cards include fan favourites such as: Becky, Lindsay, and many more.</p>
            </div>
        </div>
    </section>