    <!-- Redeem Section -->
    <section id="redeem" class="content-section text-center">
        <div class="redeem-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Redeem Your Prize</h2>
                    <p>If you received a winner's card in your pack, simply enter the code below to redeem your prize!</p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="ENTER PRIZE CODE">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">REDEEM</button>
                        </span>
                    </div>
                    <div class="input-group input-group-lg">
                      <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-star"></i></span>
                      <input type="text" class="form-control" placeholder="ENTER PRIZE CODE" aria-describedby="sizing-addon1">
                    </div>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">REDEEM</button>
                    </span>
                </div>
            </div>
        </div>
    </section>