    <!-- Redeem Section -->
    <section id="redeem" class="content-section text-center">
        <div class="redeem-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2" id="redeem-prize" style="display:none">
                    <h2>Congratulations!</h2>
                    <p><i class="fa fa-gift" style="font-size:6em"></i></p>
                    <p>You have won a surprise Christmas present! Your present is on its way!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2" id="redeem-container">
                    <h2>Redeem Your Prize</h2>
                    <p>If you received a winner's card in your pack, simply enter the code below to redeem your prize!</p>
                    <div class="alert alert-warning alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <strong>No luck!</strong> Unfortunately the code you entered is not valid.
                    </div>
                    <div class="input-group input-group-lg">
                      <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-star"></i></span>
                      <input type="text" id="redeemForm" class="form-control" placeholder="ENTER PRIZE CODE" aria-describedby="sizing-addon1">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" id="redeemButton">REDEEM</button>
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </section>